/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* start the base fraimwork. */
/* main fraimwork start here */
.inbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.inline {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}

.clear, .clearfix:after {
  content: "";
  display: table;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* basic typography */
@font-face {
  font-family: "";
  src: url(), url(), url(), url();
}
p, li {
  font-size: 14px;
}

/* form style input and other */
form input[type="text"], form input[type="date"] {
  -webkit-box-sizing: bodred-box;
  -moz-box-sizing: bodred-box;
  box-sizing: bodred-box;
  outline: none;
  border: 0;
  background-color: #f0f0f0;
}
form label {
  -webkit-box-sizing: bodred-box;
  -moz-box-sizing: bodred-box;
  box-sizing: border-box;
  cursor: pointer;
}

/* btn styles */
.btn {
  display: inline-block;
  -webkit-box-sizing: bodred-box;
  -moz-box-sizing: bodred-box;
  box-sizing: bodred-box;
  text-align: center;
}

.form_minus_down, .form_plus_down, .icon_fb, .icon_food, .icon_home, .icon_made_by, .icon_made_by_hover, .icon_made_for, .icon_made_for_hover, .icon_present, .icon_twitter, .icon_youtube, .separate, .sort_down_active, .sort_down_hover, .sort_up_active, .sort_up_hover, .logo, .calendar_active, .form_plus, .form_icon_calendar, .form_minus {
  background: url("../img/sprites.png") no-repeat;
}

.form_minus_down {
  background-position: -270px -19px;
  width: 11px;
  height: 3px;
}

.form_plus_down {
  background-position: -270px -1px;
  width: 11px;
  height: 11px;
}

.icon_fb {
  background-position: -238px -58px;
  width: 9px;
  height: 19px;
}

.icon_food {
  background-position: 0 -79px;
  width: 74px;
  height: 70px;
}

.icon_home {
  background-position: -144px -77px;
  width: 75px;
  height: 72px;
}

.icon_made_by {
  background-position: -178px 0;
  width: 27px;
  height: 30px;
}

.icon_made_by_hover {
  background-position: -177.0px -36px;
  width: 27px;
  height: 30px;
}

.icon_made_for {
  background-position: -146.99999618530273px 0;
  width: 27px;
  height: 33px;
}

.icon_made_for_hover {
  background-position: -147px -35px;
  width: 27px;
  height: 33px;
}

.icon_present {
  background-position: -78.0px -75px;
  width: 64px;
  height: 76px;
}

.icon_twitter {
  background-position: -257px -39px;
  width: 19px;
  height: 15px;
}

.icon_youtube {
  background-position: -234px -39px;
  width: 20px;
  height: 14px;
}

.separate {
  background-position: -232px -69px;
  width: 2px;
  height: 26px;
}

.sort_down_active {
  background-position: -235px -16px;
  width: 9px;
  height: 9px;
}

.sort_down_hover {
  background-position: -246px -16px;
  width: 9px;
  height: 9px;
}

.sort_up_active {
  background-position: -235px -2px;
  width: 9px;
  height: 9px;
}

.sort_up_hover {
  background-position: -246px -2px;
  width: 9px;
  height: 9px;
}

.logo {
  margin: 0 auto;
  background-position: 0 0;
  width: 138px;
  height: 70px;
}

.calendar_active {
  background-position: -210px -37px;
  width: 20px;
  height: 22px;
}

.form_plus {
  background-position: -257px -1px;
  width: 11px;
  height: 11px;
}

.form_icon_calendar {
  background-position: -210px 0;
  width: 20px;
  height: 22px;
}

.form_minus {
  background-position: -257px -19px;
  width: 11px;
  height: 3px;
}

html,
button,
input,
select,
textarea,
a {
  color: #222;
  font-family: PT Sans, sans-serif;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: #efe9e9;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  width: 93.75%;
  margin: 0 auto;
  background-color: #fff;
}

.menu {
  display: block;
  height: 55px;
  line-height: 0.875em;
}
.menu a {
  float: left;
  min-width: 150px;
  width: 20%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 55px;
}
.menu-logo {
  display: block;
}
.menu-logo-mobile {
  display: none;
}

.mainimage {
  max-width: 1200px;
  height: 508px;
  padding-top: 75px;
  background: url("../img/mainpage_1280.jpg") no-repeat 0 0;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.maintext {
  width: 39.16%;
  height: 360px;
  margin: 0 auto;
  background: url("../img/main-text.png") no-repeat 0 0;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.lions {
  margin-top: 50px;
  padding-top: 0;
}

.info {
  background-color: #fff;
  margin: 0 auto 50px;
  text-align: center;
  width: 41.25%;
  border: none;
  text-transform: uppercase;
}
.info h1 {
  font-size: 1.3125em;
  line-height: 26/px;
  margin-bottom: 30px;
}
.info p {
  font-size: 0.875em;
  line-height: 26px;
}

.reason1, .reason2 {
  text-transform: uppercase;
  overflow: hidden;
}
.reason1 .img, .reason2 .img {
  overflow: hidden;
  width: 66.66667%;
  z-index: 1;
}

.reason-info {
  width: 33.333334%;
  text-align: center;
  color: #fff;
  background-color: #81b3d2;
  padding-bottom: 56px;
  z-index: 2;
}
.reason-info h2 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 1.3125em;
  line-height: 26/21;
  font-weight: 700;
}
.reason-info .numb {
  margin-top: 15px;
  font-size: 0.875em;
  line-height: 26/21;
}
.reason-info p {
  font-size: 0.875em;
  line-height: 26/21;
  margin-top: 20px;
  margin-bottom: 0;
}

.priority {
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
}
.priority .features {
  float: left;
  width: 33.33333%;
}
.priority .features .icon {
  margin: 60px auto 30px;
}
.priority .features h3 {
  font-size: 1.3125em;
  line-height: 26/21;
}
.priority .features p {
  font-size: 0.875em;
  line-height: 26/21;
  margin-bottom: 80px;
}

.reason-3-4-5 {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.reason3, .reason4, .reason5 {
  margin-top: 0;
  color: #000;
  background: none;
  background-color: #eeeeee;
}

.hotel {
  text-transform: uppercase;
}

.reg {
  background-color: #fff;
  text-align: center;
}
.reg h2 {
  margin-top: 55px;
  margin-bottom: 25px;
  font-size: 1.875em;
  line-height: 26/30;
}
.reg p {
  font-size: 0.875em;
  line-height: 24/14;
}

.reg-form {
  width: 570px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}
.reg-form h2 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  font-size: 1.3125em;
  line-height: 26/30;
  background-color: #766357;
  text-align: center;
  color: #fff;
}

form {
  position: absolute;
  top: 89px;
  left: 0px;
  padding: 55px;
  z-index: 10;
  background-color: white;
}
form input {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  border: none;
}
form .date {
  padding: 0;
  margin-bottom: 30px;
}
form .date input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 76.08696%;
  margin: 0;
  padding: 7px 30px 7px 15px;
}
form label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 23.91304%;
  margin: 0;
  padding: 7px 0 7px 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  border: none;
}
form .btn {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  background-color: #81b3d2;
  color: #fff;
  font-size: 1.3125em;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.map {
  position: relative;
  width: 100%;
  height: 600px;
  z-index: 5;
}

#map_canvas {
  width: 100%;
  height: 100%;
  z-index: 5;
}

.people {
  padding: 0;
  margin-bottom: 30px;
}
.people input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 25%;
  margin: 0;
  padding: 7px 15px 7px 15px;
  line-height: 28px;
}
.people input#adult {
  margin-right: 2.17391%;
}

.footer-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: url("../img/footer-info.png") no-repeat 0 0;
  z-index: 10;
}

.visit {
  display: block;
  float: left;
  padding-left: 120px;
  padding-top: 50px;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
}

.social-buttons {
  float: left;
  margin-left: 250px;
}

.fb:before {
  position: absolute;
  content: "";
  top: 15px;
  left: 20px;
  background: url("../img/sprites.png") no-repeat -238px -58px;
  width: 9px;
  height: 19px;
}

.tw:before {
  position: absolute;
  content: "";
  top: 16px;
  left: 15px;
  background: url("../img/sprites.png") no-repeat -257px -39px;
  width: 19px;
  height: 15px;
}

.youtube:before {
  position: absolute;
  content: "";
  top: 17px;
  left: 13px;
  background: url("../img/sprites.png") no-repeat -234px -39px;
  width: 20px;
  height: 14px;
}

.btn-social {
  position: relative;
  float: left;
  width: 46px;
  height: 48px;
  margin-top: 35px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.design {
  float: left;
  margin-top: 50px;
  margin-left: 250px;
}

.design-btn {
  position: relative;
  margin-right: 50px;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.by:before {
  position: absolute;
  content: "";
  right: -40px;
  background: url("../img/sprites.png") no-repeat -178px 0;
  width: 27px;
  height: 30px;
}

.by:hover:before {
  position: absolute;
  content: "";
  right: -40px;
  background: url("../img/sprites.png") no-repeat -176px -36px;
  width: 27px;
  height: 30px;
}

.by:active:before {
  position: absolute;
  content: "";
  right: -40px;
  background: url("../img/sprites.png") no-repeat -176px -36px;
  width: 27px;
  height: 30px;
  opacity: .3;
}

.for:before {
  position: absolute;
  content: "";
  right: -40px;
  background: url("../img/sprites.png") no-repeat -147px 0;
  width: 27px;
  height: 33px;
}

.for:hover:before {
  position: absolute;
  content: "";
  right: -40px;
  background: url("../img/sprites.png") no-repeat -148px -35px;
  width: 27px;
  height: 33px;
}

.for:active:before {
  position: absolute;
  content: "";
  right: -40px;
  background: url("../img/sprites.png") no-repeat -148px -35px;
  width: 27px;
  height: 33px;
  opacity: .3;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1100px) {
  .mainimage {
    height: 450px;
    margin: 0;
    padding-top: 50px;
  }

  .maintext {
    height: 340px;
  }
}
@media only screen and (min-width: 821px) {
  .menu-logo {
    display: block;
  }
  .menu-logo-mobile {
    width: 0;
    height: 0;
    display: none;
  }
  .menu-logo-mobile .logo {
    display: none;
  }
}
@media only screen and (max-width: 820px) {
  .mainimage {
    height: 350px;
    margin: 0;
    padding-top: 50px;
  }

  .maintext {
    height: 240px;
  }

  .menu a {
    min-width: 120px;
    width: 25%;
  }
  .menu-logo {
    width: 0;
    height: 0;
    display: none;
  }
  .menu-logo-mobile {
    display: block;
    width: 138px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
  }

  .mainimage {
    height: 300px;
    padding-top: 30px;
  }

  .maintext {
    height: inherit;
  }

  .info {
    width: 70%;
  }
}
@media only screen and (min-width: 641px) {
  .menu-btn {
    display: none;
  }
  .menu-btn .icon-bar {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .menu-btn {
    display: block;
    width: 55px;
    height: 55px;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .menu-btn .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin-top: 4px;
    margin-left: 10px;
    border-radius: 1px;
    padding: 0 auto;
    background-color: #81b3d2;
  }

  .menu {
    display: block;
    height: inherit;
  }
  .menu a {
    display: none;
  }

  .active {
    display: block;
  }
  .active a {
    float: none;
    display: block;
    width: 100%;
    background-color: #81b3d2;
    cursor: pointer;
  }
  .active .menu-logo {
    display: none;
  }

  .mainimage {
    height: 250px;
  }

  .reason-info {
    float: none;
    display: block;
    width: 100%;
  }
  .reason-info h2 {
    margin-top: 0;
    padding-top: 50px;
  }

  .reason1 .img, .reason2 .img {
    float: none;
    display: block;
    width: 100%;
    overflow: inherit;
  }

  .reason2 .img {
    float: none;
    display: block;
    width: 100%;
    overflow: inherit;
  }

  .reg-form {
    width: 100%;
    padding: 0;
  }

  form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .map {
    height: 720px;
  }

  .footer-info {
    height: 180px;
    -webkit-background-size: 150% 180px;
    background-size: 150% 180px;
  }

  .social-buttons {
    display: block;
    float: none;
    width: 160px;
    margin: 0 auto;
  }

  .btn-social {
    display: inline-block;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    float: none;
  }

  .design {
    float: none;
    width: 200px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }

  .for {
    margin-right: 0;
  }

  .visit {
    display: block;
    float: none;
    width: 160px;
    padding-left: 0;
    padding-top: 20px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 479px) {
  /* ==============
      MOBILE: Menu
     ============== */
  .mainimage {
    height: 300px;
    padding-top: 15px;
  }

  .mobile-logo {
    display: block;
  }

  .mobile-logo .logo {
    display: block;
  }

  .menu-logo .logo {
    display: none;
    content: "";
    display: table;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  .info {
    width: 100%;
  }

  .mainimage {
    height: 180px;
  }

  .main {
    padding: 30px 0;
  }

  .priority .features {
    float: none;
    display: block;
    width: 100%;
  }

  .map {
    height: 720px;
  }

  form input {
    font-size: 12px;
  }
  form label {
    font-size: 12px;
  }
  form .date input {
    font-size: 12px;
  }

  .visit {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 320px) {
  form .date {
    margin-bottom: 10px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
